/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
:root{
  --primary_color:rgb(158, 0, 244);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-bottom:2px solid var(--primary_color) ;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .menu {
  display: none;
  /* gap: 1rem; */
}
.navbar  .active {
  display: block;
}
.navbar  a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem 0.5rem 0;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}

.navbar .links a:hover {

  color: var(--primary_color);
  /* background-color: rgb(158, 0, 244);
  border-color: #fff; */
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.profile .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary_color);
  object-fit:contain;
}
/* style={{ width: "100px", height: "100px", objectFit: "cover" }} */

.profile .dis_profile {
  /* display: none; */
  list-style: none;
  cursor: pointer;
  width: 200px;
  z-index: 10;
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 58px;
  background-color: #440075;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--primary_color);
}

.profile .dis_profile li {
  margin: 0.5rem;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.profile .dis_profile li  .link{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem 0.5rem 0;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}
.profile .dis_profile li:hover{
  scale: 1.02;
}

.profile .dis_profile div {
  background-color: rgb(237, 237, 237);
  height: 1px;
  width: 100%;
  margin-bottom: 5px;
}

.profile .triangle {
  /* display: none; */
  width: 10px;
  height: 10px;
  background-color: #440075;
  position: absolute;
  top: 54px;
  right: 46px;
  rotate: -45deg;
  border: 1px solid var(--primary_color);
  border-bottom: none;
  border-left: none;
  z-index: 100;
}

.profile:hover .menu {
  display: block;
}

/* .profile:hover .dis_profile {
  display: block;
  
} */






