.progress-tracker {
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 100%;
    /* margin: auto; */
    padding: 10px 20px;
  }
.progress-tracker .d-none{
    display: none;
}
  .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
  }
  
  .step {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    align-items: center;
    
    position: relative;
  }
  .stepLink{
    text-decoration: none;
    color: rgb(62, 62, 62);
  }
  .step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .step-title {
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
  }
  
  
  .step.active .step-circle {
    background-color: #28a745; /* Green color for active step */

  }
  .step.active .step-title {
    color: #28a745; /* Green color for active step */

  }
  .step.completed .step-circle {
    background-color: #28a745; /* Grey color for completed steps */
  }
  
  .progress-bar {
    width: 100px;
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-fill {
    height: 100%;
    background-color: #28a745;
    transition: width 0.3s ease;
  }
  
  .completion-rate {
    text-align: right;
    font-size: 14px;
    margin-top: 5px;
    color: #666;
  }
  
@media (max-width:700px) {
  .progress-tracker {
    display: flex;
    flex-direction: column;}
    .progress-bar ,.progress-fill,.completion-rate {
      display: inline-flex;
      text-align: center;

    }
    
}